.authBody {
	/*background-color: #000;*/
	/*opacity: 0.8;*/
	background-image: radial-gradient(#45ebf7 1.7000000000000002px, transparent 1.7000000000000002px),
		radial-gradient(#45ebf7 1.7000000000000002px, #fcfcfd 1.7000000000000002px);
	/*background-size: 68px 68px;*/
	/*background-position: 0 0, 34px 34px;*/
}

.authBodyDark {
	/*background-color: #000;*/
	/*opacity: 0.8;*/
	background-image: radial-gradient(#2de9f5 1.35px, transparent 1.35px), radial-gradient(#45ebf7 1.35px, #e5e5ef 1.35px);
	/*background-size: 68px 68px;*/
	/*background-position: 0 0, 34px 34px;*/
}

.tset {
	background-color: #e5e5ef;
	opacity: 0.8;
	background-image: radial-gradient(#444cf7 1.35px, transparent 1.35px), radial-gradient(#444cf7 1.35px, #e5e5ef 1.35px);
	background-size: 54px 54px;
	background-position: 0 0, 27px 27px;
}

.test2 {
	background-color: #000000;
	opacity: 0.8;
	background-image: radial-gradient(#444cf7 1.35px, transparent 1.35px), radial-gradient(#444cf7 1.35px, #000000 1.35px);
	background-size: 54px 54px;
	background-position: 0 0, 27px 27px;
}
